[submodule "delicias-users"]
	path = delicias-users
	url = git@github.com:Juan-jo/delicias-users.git
[submodule "delicias-zones"]
	path = delicias-zones
	url = git@github.com:Juan-jo/delicias-zones.git
[submodule "delicias-services-core"]
	path = delicias-services-core
	url = git@github.com:Juan-jo/delicias-services-core.git
[submodule "delicias-restaurants"]
	path = delicias-restaurants
	url = git@github.com:Juan-jo/delicias-restaurants.git
